---
import Layout from "../components/Layout.astro";
import MainCard from "src/components/MainCard.astro";
import ContainerScroll from "@components/ContainerScroll.astro";
import ContainerUp from "@components/ContainerUp.astro";
---

<Layout title="Welcome to pabloLC website">

	<div class="flex flex-col lg:flex-row lg:space-x-5 overflow-auto no-scrollbar h-full">
		<ContainerUp>
			<MainCard />
		</ContainerUp>

		<ContainerScroll>
			
		</ContainerScroll>
	</div>

</Layout>
