---
import Layout from "../components/Layout.astro";
import MainCard from "src/components/MainCard.astro";
import MediumPost from "@components/MediumPost";
import MainContainer from "src/components/MainContainer.astro";
import ContainerScroll from "@components/ContainerScroll.astro";
import ContainerUp from "@components/ContainerUp.astro";
---

<Layout title="Welcome to pabloLC website">

	<div class="flex space-x-5 overflow-auto no-scrollbar h-full">
		<ContainerUp>
			<MainCard />
		</ContainerUp>
		<!-- <ContainerScroll>
			<div class="flex min-w-[60%] 2xl:min-w-[50%] mr-5"><MainCard /></div>
		</ContainerScroll> -->
		<ContainerScroll>
			
		</ContainerScroll>
	</div>

</Layout>
