---
---

<div
  class="flex flex-col py-4 px-4 md:p-4 2xl:p-8 mt-2 md:my-4 shadow-box-up box-decoration-slice dark:shadow-orange-dark dark:bg-box-dark w-full rounded-md max-h-fit justify-center"
>
  <slot />
</div>
